body {
    background-image: url(AssosF.png);
    Background-position : center center;
}

#container {
    background-color: rgb(45,112,150);
    background-position : center center;
    width:1330px;
    height:550px;
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-top:110px;
    margin-right:90px;
    margin-bottom:50px;
    margin-left:90px;
    border-radius: 20px;
    font-family: sans-serif;
}
.head {

    width: calc(100% - 40px);
    padding: 10px;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items:baseline;
    text-align:right;
    margin-left: none;
    font-family: "Fresh Marker";
    font-size: 80px;
    
}
.content {
    padding-top: 20px;
    padding-bottom: 0;
}

.logo {
    float : left;
    width : 13px;
    height: 10px;
}

.infos {
    color : black;
    padding-left : 175px;
    text-align: justify;
    text-align-last: left;
}

.infoSup{
    background-color: none;
    border: none;
    color: black;
    padding-left: 75px;
    padding-right: 20px;
    text-align: justify;
    text-align-last: left;
    text-decoration: none;
    display:inline-block;
    font-size: 20px;
    margin: none;
    width: 300px;
    height: 210px;
    
}