#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 800px;
}

#container2 {
    margin-right: 20px;
    margin-bottom: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#login2, #register2 {
    width: 33vw;
    padding: 20px;margin-top: -500px;
    border-radius: 3px;
    box-shadow: 0 1px 4px #ccc;
  /*border: 1px solid #fff */
}


#login, #register {
    
    margin : 5vh;
    padding: 20px;
    border-radius: 3px;
   
  /*border: 1px solid #fff */
}


#login2:hover, #register2:hover {
    box-shadow: 0 10px 30px #ccc;
}

.head {
    background-color: rgb(45,112,150);
    width: calc(100% - 40px);
    padding: 20px;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Fresh Marker";
}

.head2 {
    background-color: white;
    width: calc(100% - 40px);

    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Fresh Marker";
}

.content {
    padding-top: 20px;
    padding-bottom: 0;
}



.fleche
{

    margin-left: 1000px;

}

