<link href="/assets/css/assosInternationales.css" rel="stylesheet">

<% assos.forEach(function(asso){ %>
    <div class="bouton">
        <p>
            <a href="/assos/<%= asso.id %>">
                <img class="img-size" src="/media/<%= asso.image %>"><br>
                <br>
                <%= asso.name %>
            </a>
        </p>
    </div>
<% }) %>