<link href="/assets/css/login.css" rel="stylesheet">

<div id="login">

    <div class="head">
        Inscription
    </div>

    <div class="content">
        <form method="post" action="#">

            <% if (typeof err != 'undefined') { %>
            <div class="alert alert-danger"><%= err %></div>
            <% } %>

            <div>
                <label for="firstName">Prénom</label>
                <input class="form-control" type="text" name="firstName" id="firstName"/>
            </div>

            <div>
                <label for="lastName">Nom</label>
                <input class="form-control" type="text" name="lastName" id="lastName"/>
            </div>

            <div>
                <label for="mail">Mail</label>
                <input class="form-control" type="email" name="mail" id="mail"/>
            </div>

            <div>
                <label for="username">Identifiant</label>
                <input class="form-control" type="text" name="username" id="username"/>
            </div>

            <div>
                <label for="password">Mot de passe</label>
                <input class="form-control" type="password" name="password" id="password"/>
            </div>

            <button type="submit" class="btn btn-success pull-right">S'inscrire</button>
    </div>

</div>