<link href="/assets/css/etudiant2.css" rel="stylesheet">

<div id="login">

    <div class="head">
        <p> <%= user.firstName + ' ' + user.lastName %></p>
        <p><img src="/assets/img/lana2.png" alt="Photo Scylla"  /></p>
        <p><span class= "couleur">Email :</span> <%= user.mail %></p>
        <p><span class ="couleur">Promo :</span>  <%= user.promo %></p>
        <p><span class ="couleur">Majeur :</span>  <%= user.majeur %></p>
        <p><span class ="couleur">Association :</span>  A faire </p>
        <p><span class ="couleur">Immersion :</span>  A faire </p>


    </div>

</div>