<link href="/assets/css/students.css" rel="stylesheet">

<div id="login">

    <div class="head">
        Liste des étudiants
    </div>

    <div class="content">

        <% if (users.length > 0) { %>

        <div className="form-group label-floating is-empty">
            <input class="form-control" type="text" id="myInput" onkeyup="tableFilter()" placeholder="Rechercher par nom/prénom...">
            <br/>
        </div>

        <table id="userTable" class="table table-hover">
            <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Promo</th>
            </tr>
            </thead>
            <tbody>
            <% users.forEach(function(user){ %>
            <a href="">
                <tr onclick="location.href=location.protocol+'//'+location.hostname+(location.port ? ':'+location.port: '')+'/student/<%= user.id %>';">

                    <td><%= user.firstName %></td>
                    <td><%= user.lastName %></td>
                    <td><%= user.promo %></td>

                </tr>
            </a>
            <% }) %>
            </tbody>
        </table>
        <% } else { %>
        <div class="bs-component">
            <div class="alert alert-dismissible alert-warning">
                <p>Pas d'utilisateurs pour le moment.</p>
            </div>
        </div>
        <% } %>
    </div>

</div>

<script>
  function tableFilter() {
    var input, filter, table, tr, td, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("userTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {

      td = '';
      for (var j = 0; j < tr[i].getElementsByTagName("td").length; j++) {
        td += tr[i].getElementsByTagName("td")[j].innerHTML.toUpperCase() + ' ';
      }

      if (td) {
        if (td.match(new RegExp('.*'+filter+'.*'))) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
</script>